/* CSS di Hubspot Template */

/* Reset margini e padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font sul body */
body {
  font-family: Montserrat;
}

/* Generali o ricorrenti */
.resize {
  padding: 0 5%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}
a {
  text-decoration: none;
  color: inherit;
}
.button-orange {
  background-color: #fe775a;
  color: white;
  font-size: 14px;
  border-radius: 4px;
  padding: 7px;
}

/* Top menu fixed */
.fixed-menu {
  background-color: #f4f9fd;
  height: 80px;
  border-bottom: solid 1px #32495b;
}

/* Top menu fixed LEFT BLOCK */
.left-side {
  color: #32495b;
  font-size: 14px;
  text-align: left;
  float: left;
  margin-top: 30px;
}
.language {
  padding-right: 20px;
  border-right: solid 1px #32495b;
  float: left;
}
.contact {
  padding-left: 20px;
  float: left;
}

/* Top menu fixed RIGHT BLOCK */
.right-side {
  float: right;
  text-align: right;
  padding-left: 150px;
  margin-top: 25px;
  padding-right: 25px;
}
.right-side a {
  float: left;
  margin-left: 30px;
}
.lens {
  margin-top: 6px;
}
.fa-search {
  color: #00a4bd;
}
.button-white {
  background-color: white;
  border: solid 1px #fe775a;
  border-radius: 2px;
  color: #fe775a;
  border-radius: 4px;
  padding: 6px;
  font-size: 14px;
  margin-left: 30px;
}

/* Sub menu */
.submenu {
  background-color: #white;
  height: 60px;
  margin-top: 20px;
}
.submenu div, .submenu div ul li {
  margin-right: 10px;
  display: inline-block;
}
.logo {
  text-align: left;
  width: 50%;
  margin-top: 5px;
}
.rightnav {
  text-align: right;
  width: 47%;
  font-size: 14px;
}

/* Jumbo Section */
.jumbosect {
  min-height: 600px;
  background-image: url("../img/jumbotron.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}
.spacepar {
  width: 40%;
  color: #001c41;
  padding-top: 50px;
  padding-bottom: 25px;
}
.spacepar * {
  margin-bottom: 20px;
}
.small {
  width: 130px;
}
.title {
  font-size: 35px;
  font-weight: 900;
}
.titlethin {
  font-size: 20px;
  font-weight: 600;
}
.paragraph {
  font-size: 14px;
}

/* Hub Section */
.hubsect {
  height: 1000px;
  background-color: #f4f9fd;
}
.onesize {
  text-align: center;
  width: 70%;
  margin: 0 15%;
}
.whitebox {
  height: 200px;
  background-color: white;
  width: 100%;
  border: solid 1px lightgrey;
  border-radius: 3px;
}
.whitebox::after {
  content: "";
  display: table;
  clear: both;
}
.leftcol {
  width: 40%;
  float: left;
  padding-top: 30px;
}
.leftcol div {
  text-align: center;
  margin-bottom: 10px;
}
.button-space {
  margin: 0 35%;
  padding: 10px;
}
.rightcol {
  width: 60%;
  float: left;
  margin-top: 33px;
  padding-right: 40px;
}
.rightcol div {
  margin-bottom: 10px;
}
.rightcol:first-child {
  padding-top: 10px;
}
.title-hub {
  font-size: 16px;
  font-weight: 600;
  color: #001c41;
}
.par-hub {
  font-size: 14px;
}
.fa-check-circle {
  color: #ff7560;
}
.popular-hub {
  width: 100%;
}
.popular-hub {
  content: "";
  display: table;
  clear: both;
}
.text-hub {
  width: 20%;
  float: left;
  font-weight: 600;
  font-size: 12px;
}
.line-hub {
  width: 80%;
  float: left;
  margin-top: 7px;
  padding-right: 50px;
}
.check-hub li {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
}
